
/*
 *  Alle Überschriften-Fonts
 */

@font-face
{
    font-family         : ft_computer;
    src                 : url("../wff/neuchar.ttf");
}

@font-face
{
    font-family         : ft_stdtitel;
    src                 : url("../wff/amaranter.ttf");
}

/*
 *  Alle Textsatz-Fonts
 */

@font-face
{
    font-family         : fs_stdtxt;
    src                 : url("../wff/buenardr.ttf");
}

@font-face
{
    font-family         : fs_smallite;
    src                 : url("../wff/signikarl.ttf");
}

@font-face
{
    font-family         : fs_smallbold;
    src                 : url("../wff/signikasb.ttf");
}

@font-face
{
    font-family         : fs_preformed;
    src                 : url("../wff/inconsolr.ttf");
}

@font-face
{
    font-family         : zi_firstletter;
    src                 : url("../wff/amaranter.ttf");
}
